@tailwind preflight;
@tailwind components;
@tailwind utilities;
/* Your custom CSS here */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.pin-modal {
  top: 25%;
  left: 0;
  width: inherit;
}
@screen md{
  .pin-modal {
    left: 25%;
    width: inherit;
  }
}


.font-indie {
  font-family: 'Indie Flower', cursive;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.erasmus-logo {
  background-image: url("./components/Section/SectionEducation/erasmus-logo.png");
}
.mahidol-logo {
  background-image: url("./components/Section/SectionEducation/mahidol-logo.png");
}
.logo {
  width: 100px;
  height: 100px;
}

.Ruby-logo {
  background-image: url("./images/Ruby-logo.png")
}
.GraphQL-logo {
  background-image: url("./images/GraphQL-logo.png")
}
.React-logo {
  background-image: url("./images/React-logo.png")
}
.Rpackages-logo {
  background-image: url("./images/Rpackages-logo.png")
}
.Vue-logo {
  background-image: url("./images/Vue-logo.png")
}
.Python-logo {
  background-image: url("./images/Python-logo.png")
}
.R-logo {
  background-image: url("./images/R-logo.png")
}
.JavaScript-logo {
  background-image: url("./images/JavaScript-logo.png")
}
.Nuxt-logo {
  background-image: url("./images/Nuxt-logo.png")
}
 .bg-fit {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
   width: unset;
   height: inherit;
 }

.image {
  width: 100px;
  height: 100px;
}
.image-2{
  width: 200px;
  height: 200px;
}

.animatepues {
  animation: 'show .5s ease'
}